
	<div>


		<div class="outer_wrapper">

			<div class="inner_wrapper">

				<!--header-->
				<div class="header"></div>



				<div id="coontainer"class="left main_wrapper">

					<div class="nav"></div><!--nav-->


					<div class="content"></div><!--content-->

				</div><!--main_wrapper-->



				<div class="right qr_wrapper">

					<div class="label"></div><!--label-->
					<div class="qr_code"></div><!--qr_code-->



				</div><!--qr_wrapper-->


				<!-- clearfix -->
				<div style="clear:both;"></div>


				<div class="footer"></div>

			</div>


		</div>



	</div>
