# compiled C++
/server/gccRelease
/server/gccDebug
/server/Server/gccRelease
/server/Server/gccDebug


# prevent workspace push
.idea

# UltraEdit backup files
*.bak

# project files
.project

# gitignore
.gitignore