# compiled C++
/server/gccRelease
/server/gccDebug
/server/Server/gccRelease
/server/Server/gccDebug


# prevent workspace push
.idea

# UltraEdit backup files
*.bak

# project files
.project

# gitignore
.gitignore


# single sprites
/display/assets/sprites


# temporary hide
/demo
/display/assets/views/game/ambient51_game.ogg
/display/assets/views/start/ambient51_intro.ogg
