@import url(http://fonts.googleapis.com/css?family=Fredoka+One);

html{
    height: 100%;
}

body{
	height: 100%;
	background: #0e89b6; /* Old browsers */
	background: -moz-linear-gradient(top,  #0e89b6 0%, #00142c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e89b6), color-stop(100%,#00142c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0e89b6 0%,#00142c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0e89b6 0%,#00142c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0e89b6 0%,#00142c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0e89b6 0%,#00142c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e89b6', endColorstr='#00142c',GradientType=0 ); /* IE6-9 */

}
.content_wrapper {
    height: 100%;
    width: 100%;
    min-width: 760px;
	   	
	background-image: url(../images/neurron_banner.png);
	background-position:right top; 
	background-repeat: no-repeat;
	background-size:50% auto;

}

canvas {

    vertical-align: top;
    background-color: #fff;
}

.round {

     -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
             border-radius: 20px;
}

.button_color{
    background: #454dac; /* Old browsers */
	background: -moz-linear-gradient(top,  #454dac 0%, #201e6c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#454dac), color-stop(100%,#201e6c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #454dac 0%,#201e6c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #454dac 0%,#201e6c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #454dac 0%,#201e6c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #454dac 0%,#201e6c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454dac', endColorstr='#201e6c',GradientType=0 ); /* IE6-9 */


}
.button_color:hover, .button_active{
    background: #bac000; /* Old browsers */
	background: -moz-linear-gradient(top,  #bac000 1%, #5d942d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#bac000), color-stop(100%,#5d942d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bac000 1%,#5d942d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bac000 1%,#5d942d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bac000 1%,#5d942d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bac000 1%,#5d942d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bac000', endColorstr='#5d942d',GradientType=0 ); /* IE6-9 */


}

.main_wrapper {
    float: left;
    width: 75%;
    min-width: 570px;
    height: 100%;
 
    position: relative;
}

.slider_content_wrap {
    width: 80%;
    min-width: 490px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    width: 356px;
    margin-left: 10%;
	clear: both;
}

.logo img{
	margin-top: 2%;
}

.subtitle{
	float: right;
	margin-right: 12px;
	margin-top: -7px;
	font-size: 1.2em ;
    font-family: 'Fredoka One', cursive;
    color: #ffffff;
}

.slider_box_wrap{
    width: 100%;
    height:68%;
    min-height: 350px;
    margin-top: 8%;
    position: relative;
}

.button {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 24%;
    height: 14%;
    min-height: 50px;
    background-color: #dcdcdc;
    float: left;
    position: relative;
    cursor: pointer;
    z-index: 999;
}

.button p {
    margin-top: 10%;
    text-align: center;
    font-size: 1.5em ;
    font-family: 'Fredoka One', cursive;
    color: #ffffff;
}

.intro_button {
    margin-left: 10%;
    margin-right: 2%;
}

.play_button {
    margin-left: 2%;
    margin-right: 2%;
}

.demo_button {
    margin-left: 2%;
    margin-right: 10%;
}

.dashboard {
    width: 90%;
    height: 20%;
    min-height: 50px;
    background-color: #ffffff;
    position: absolute;
    top: 4%;
    z-index: 0;
    margin-left: 5%;
    margin-right: 5%;
    clear: both;
}

.screen_wrap {
    width: 100%;
    min-height: 315px;
    height: 90%;
    padding: 0;
    position: absolute;
    background-color: #ffffff;
    top: 10%;
    z-index: 0;
}

.screen{
    width: 90%;
    height: 90%;
    left: 5%;
    right: 5%;
    top: 10%;
    position: absolute;
}

#intro{
    display: block;
}

#how2play{
    display: none;
}

#demo{
    display: none;
}

.video {
    width: 100%;
    height: 95%;
}

.side_wrapper {
    float: right;
    width: 25%;
    min-width: 190px;
    height: 100%;
    position: relative;
}

.info{
	position: relative;
	height: 50%;
}

.info img{
	width: 100%;
}

.qr_code {

    background-color: #ffffff;
    padding: 10px;
	position: relative;
	max-width: 300px;
	margin: 5%;
}

.qr_code img{
	width: 100%;
}

.qr_link {

    position: relative;
    left: 20%;
}

.show {

    display: block;
}

