<!DOCTYPE html>
<html lang="en">
<head>


    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/start.css">
    <script src="http://game.neurron.com/display/scripts/_libs/jquery-1.8.3.min.js"></script>

</head>
<body>

    <div class="content_wrapper">
        <div class="slider_wrapper">
            <div class="slider_content_wrap">
                <div class="logo">neurron</div>
                <div class="slider_box_wrap">
                    <div class="button gradient intro_button"><p>intro</p></div>
                    <div class="button gradient play_button"><p>how2play</p></div>
                    <div class="button gradient demo_button"><p>demo</p></div>
                    <div class="dashboard round"></div>
                    <ul class="screen_wrap round">
                        <li id="intro" class="screen js_screen">
                            <iframe class="video" src="http://www.youtube.com/embed/ogTIl-xzDRI" frameborder="0" allowfullscreen></iframe>
                        </li>
                        <li id="how2play" class="screen js_screen">
                            <iframe class="video" src="http://www.youtube.com/embed/aVb0HB6arUw" frameborder="0" allowfullscreen></iframe>
                        </li>
                        <li id="demo" class="screen js_screen">
                            <iframe class="video" src="http://www.youtube.com/embed/-cUB5pyPVJo" frameborder="0" allowfullscreen></iframe>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="qr_wrapper">
            <div class="comic round"></div>
            <div class="qr_code round"></div>
            <div class="joined round"></div>
        </div>
    </div>
    <script src="start.js"></script>
</body>