<div>


    <div class="outer_wrapper">
        <div class="inner_wrapper">
            <div class="header">

            </div><!--header-->

            <div class="main_wrapper">
                <div class="nav">

                </div><!--nav-->
                <div class="content">

                </div><!--content-->
            </div><!--main_wrapper-->

            <div class="qr_wrapper">
                <div class="label">

                </div><!--label-->
                <div class="qr_code">

                </div><!--qr_code-->
            </div><!--qr_wrapper-->
            <div style="clear:both;"></div>
            <div class="footer">

            </div><!--footer-->
        </div><!--inner_wrapper-->
    </div><!--outer_wrapper-->



</div>
