html, body {

    margin      : 0;
    padding     : 0;
    height      : 100%;
}

.container {

	width		: 100%;
	height		: 100%;
	position	: relative;
}


.background {

	display				: block;

	-webkit-transition	: background-color 5s ease-in-out;
	   -moz-transition	: background-color 5s ease-in-out;
	    -ms-transition	: background-color 5s ease-in-out;
	     -o-transition	: background-color 5s ease-in-out;
		    transition	: background-color 5s ease-in-out;
}

.default 	{ background-color: #333; }
.red 		{ background-color: rgb( 148,  24,  55 ); }
.blue 		{ background-color: rgb(  37,  54, 137 ); }
.green 		{ background-color: rgb( 102, 179,  45 ); }
.yellow 	{ background-color: rgb( 210, 179,  31 ); }
.lila 		{ background-color: rgb( 105,  41, 134 ); }
.orange 	{ background-color: rgb( 236, 129,  10 ); }
.turq 		{ background-color: rgb(  46, 155, 215 ); }
.pink 		{ background-color: rgb( 190,  74, 150 ); }


.start {

	width: 30%;
	margin: 0 auto;
	font-size: 3em;
}



.hide {	display: none; }
.show { display: block; }


.box {

	position: absolute;
	width: 50%;

	top: 25%;
	left: 25%;

	z-index: 1;
}


.hint {

	display: block;


	position: absolute;
	z-index: 1;

	top: 5%;

	width: 16%;
	left: 42%; /* 50 - width/2, e.g. 10 -> -5 */
}

.fading {

	-webkit-transition	: opacity 15s ease-in-out;
	   -moz-transition	: opacity 15s ease-in-out;
	    -ms-transition	: opacity 15s ease-in-out;
	     -o-transition	: opacity 15s ease-in-out;
		    transition	: opacity 15s ease-in-out;
}

.visible	{ opacity: 1; }
.opaque		{ opacity: 0; }


.button {

	padding: 5px;
	text-align: center;

	background: #bac000; /* Old browsers */
	background: -moz-linear-gradient(top,  #bac000 1%, #5d942d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#bac000), color-stop(100%,#5d942d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bac000 1%,#5d942d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bac000 1%,#5d942d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bac000 1%,#5d942d 100%); /* IE10+ */
	background: linear-gradient(top bottom,  #bac000 1%,#5d942d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bac000', endColorstr='#5d942d',GradientType=0 ); /* IE6-9 */

	 -webkit-border-radius: 6px;
		-moz-border-radius: 6px;
			 border-radius: 6px;

	min-width: 80px;

    color: white;
    font-weight: bold;
}


.whitebox {

	font-size: 2em;

	width: 100%;
	min-width: 200px;
	margin: 0 auto;

	padding: 2%;

	border-radius: 10px;
	background-color: #eee;
}


.input {

	display: block;

	width: 86%;

	margin: 5% auto;
	border: 0;
}


.ready {

	font-size: 1.2em;

	width: 50%;
	min-width: 150px;
	margin: 0 auto;

	color: #eee;
	text-align: center;
}



.warning {

	font-weight: bold;
	text-align: center;
}


.okay {

	width: 10%;
	margin: 5% auto;
	font-size: 1.5em;
}


/* media queries */


@media only screen and (max-width: 1200px) {

	.start { width: 35%; }
	.warning { font-size: 1.5em; width: 90%;}
}


@media only screen and (max-width: 1024px) {

	.start {	width: 40%; }
	.warning { width: 100%;}
}

@media only screen and (max-width: 800px) {

	.start {	width: 50%; }
	.warning { width: 120%;}


	.input { width: 100%; }
	.ready { width: 60%; }

	.input, .okay {	margin: 10% auto; }
}


@media only screen and (max-width: 640px) {

	.start { width: 60%; }
	.warning { font-size: 1em; width: 100%;}
	.ready { font-size: 1em; width: 70%; }
	.okay { font-size: 1.2em; }
}


@media only screen and (max-width: 480px) {

	.start { width: 80%; }
	.warning { font-size: 0.8em; }
	.ready { width: 80%; }

	.input, .okay {	margin: 20% auto; }
}

@media only screen and (max-width: 320px) {

	.start { font-size: 2em; }
	.warning { font-size: 0.7em; }

	.input {

		font-size: 1.8em;
		min-width: 150px;
	}
}
