/* ---- start ----- */

html{
	height: 100%;
}


body {
	height: 100%;
	background: #0e89b6; /* Old browsers */
	background: -moz-linear-gradient(top,  #0e89b6 0%, #00142c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e89b6), color-stop(100%,#00142c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0e89b6 0%,#00142c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0e89b6 0%,#00142c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0e89b6 0%,#00142c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0e89b6 0%,#00142c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e89b6', endColorstr='#00142c',GradientType=0 ); /* IE6-9 */
}


a {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}


canvas {
	vertical-align: top;
	/*background-color: #fff;*/ /*???*/
}


.content_wrapper {
	height: 100%;
	width: 100%;
	min-width: 760px;

	background-image: url(/style/images/neurron_banner.png);
	background-position:right top;
	background-repeat: no-repeat;
	background-size:50% auto;
}


.round {
	 -webkit-border-radius: 20px;
		-moz-border-radius: 20px;
			 border-radius: 20px;
}


.button_color{
	background: #454dac; /* Old browsers */
	background: -moz-linear-gradient(top,  #454dac 0%, #201e6c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#454dac), color-stop(100%,#201e6c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #454dac 0%,#201e6c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #454dac 0%,#201e6c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #454dac 0%,#201e6c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #454dac 0%,#201e6c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454dac', endColorstr='#201e6c',GradientType=0 ); /* IE6-9 */
}


.button_color:hover, .button_active{
	background: #bac000; /* Old browsers */
	background: -moz-linear-gradient(top,  #bac000 1%, #5d942d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#bac000), color-stop(100%,#5d942d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bac000 1%,#5d942d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bac000 1%,#5d942d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bac000 1%,#5d942d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bac000 1%,#5d942d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bac000', endColorstr='#5d942d',GradientType=0 ); /* IE6-9 */
}


.main_wrapper {
	float: left;
	width: 75%;
	min-width: 570px;
	height: 100%;

	position: relative;
}


.slider_content_wrap {
	width: 80%;
	min-width: 490px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}


.logo {
	width: 356px;
	margin-left: 10%;
	clear: both;
}


.logo img {
	margin-top: 2%;
}


.subtitle {
	float: right;
	margin-right: 12px;
	margin-top: -7px;
	font-size: 1.2em ;
	font-family: 'Fredoka One', cursive;
	color: #fff;
}


.slider_box_wrap {
	width: 100%;
	height:68%;
	min-height: 350px;
	margin-top: 8%;
	position: relative;
}


.button {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 24%;
	height: 14%;
	min-height: 50px;
	background-color: #dcdcdc;
	float: left;
	position: relative;
	cursor: pointer;
	z-index: 999;
}


.button p {
	margin-top: 10%;
	text-align: center;
	font-size: 1.5em ;
	font-family: 'Fredoka One', cursive;
	color: #fff;
}


.intro_button {
	margin-left: 10%;
	margin-right: 2%;
}


.play_button {
	margin-left: 2%;
	margin-right: 2%;
}


.demo_button {
	margin-left: 2%;
	margin-right: 10%;
}


.dashboard {
	width: 90%;
	height: 20%;
	min-height: 50px;
	background-color: #fff;
	position: absolute;
	top: 4%;
	z-index: 0;
	margin-left: 5%;
	margin-right: 5%;
	clear: both;
}


.screen_wrap {
	width: 100%;
	min-height: 315px;
	height: 90%;
	padding: 0;
	position: absolute;
	background-color: #fff;
	top: 10%;
	z-index: 0;
}


.screen {
	width: 90%;
	height: 90%;
	left: 5%;
	right: 5%;
	top: 10%;
	position: absolute;
}


.video {
	width: 100%;
	height: 95%;
}


.side_wrapper {
	float: right;
	width: 25%;
	min-width: 190px;
	height: 100%;
	position: relative;
}


.info {
	position: relative;
	height: 50%;

	/*width: 100%; /* ???? */*/
}


.info img {
	/*width: 100%;*/ /* ??? */
}


.qr_code {
	background-color: #ffffff;
	padding: 10px;
	position: relative;
	width: 80%;
	margin: 0 auto;
}


.qr_code img {
	width: 100%;
	display: block;
	margin: 0 auto;
}


.qr_link {
	display: block;
	padding-top: 2px;
	text-align: center;
	font-size: 20px;
	border-top: 2px solid #eee;
}


.show {
	display: block;
}


.hide {
	display: none;
}


#intro {
	display: block;
}


#how2play {
	display: none;
}


#demo {
	display: none;
}


/* ---------- load ---------------------*/

.load_background {
	height: 80%;
}


.load_background_wrapper {
	text-align: center;
}


.load_hide {
	display: none;
}


.joined {
	background-color: #fff;
}


.joined > img {
	margin: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


.greetings {
	font-size: 20px;
	color: #fff;
}


/* ---------- game -------------------- */

.timer {
	position: absolute;
	left: 2%;
	bottom: 4%;
}


.countdown {
	left: 37%;
	top: 45%;
}


.endpoints {
	position: absolute;
	left: 37%;
	bottom: 54%;
}


.timer, .endpoints, .countdown {

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	background: red;
	padding: 10px 10px;

	color: white;
	font-weight: bold;
	font-family: Comic Sans MS;
}

/* ---------------- end ------------------------*/

.main_content_wrap {
	width: 80%;
	min-width: 490px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

/*score ?*/

/*
.logo {
	border-radius: 0px 0px 20px 20px;
	-moz-border-radius: 0px 0px 20px 20px;
	-webkit-border-radius: 0px 0px 20px 20px;
	width: 35%;
	min-width: 270px;
	height: 15%;
	min-height: 90px;
	background-color: #ffffff;
	margin-left: 10%;
}
*/


h2 {
	font-size: 1.8em ;
	margin-bottom: 10px;
	/*color: #0E499B;*/
	color: #fff;
}


.score_wrap {
	width: 80%;

	/*height:70%;*/

	min-height: 350px;
	margin-top: 10%;
	position: relative;
}


h1 {
	margin: 0;
	font-size: 2.5em;
	color: #0E499B;
	/*color: #fff;*/
}


.score_value {
	text-align: center;
	padding: 12px;
}


.score_item {
	font-family: 'Fredoka One', cursive;
	color: #0E499B;
	margin-top: 5%;
}


.box {
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background-color: #ffffff;
	border: solid 4px #ffffff;
}


.diagram {
	height: 50px;
	width: 100%;
	clear: both;
	overflow: hidden;
}


.diagram li {
	display: block;
	float: left;
}


.blue {
	height: 100%;
	background: rgb(83,102,243); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(83,102,243,1) 1%, rgba(10,26,161,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(83,102,243,1)), color-stop(100%,rgba(10,26,161,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(83,102,243,1) 1%,rgba(10,26,161,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(83,102,243,1) 1%,rgba(10,26,161,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(83,102,243,1) 1%,rgba(10,26,161,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(83,102,243,1) 1%,rgba(10,26,161,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5366f3', endColorstr='#0a1aa1',GradientType=0 ); /* IE6-9 */
}


.orange {
	height: 100%;
	background: rgb(255, 182, 106); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(255, 182, 106) 1%, rgb(235, 124, 0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgb(255, 182, 106)), color-stop(100%, rgb(235, 124, 0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(255, 182, 106) 1%, rgb(235, 124, 0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(255, 182, 106) 1%, rgb(235, 124, 0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(255, 182, 106) 1%, rgb(235, 124, 0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(255, 182, 106) 1%, rgb(235, 124, 0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5366f3', endColorstr='#0a1aa1',GradientType=0 ); /* IE6-9 */
}


.green {
	height: 100%;
	background: rgb(159, 255, 148); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(159, 255, 148) 1%, rgb(53, 229, 37) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgb(159, 255, 148)), color-stop(100%, rgb(53, 229, 37))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(159, 255, 148) 1%, rgb(53, 229, 37) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(159, 255, 148) 1%, rgb(53, 229, 37) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(159, 255, 148) 1%, rgb(53, 229, 37) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(159, 255, 148) 1%, rgb(53, 229, 37) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5366f3', endColorstr='#0a1aa1',GradientType=0 ); /* IE6-9 */
}


.lila {
	height: 100%;
	background: rgb(223, 105, 254); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(223, 105, 254) 1%, rgb(105, 23, 140) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgb(223, 105, 254)), color-stop(100%, rgb(105, 23, 140))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(223, 105, 254) 1%, rgb(105, 23, 140) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(223, 105, 254) 1%, rgb(105, 23, 140) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(223, 105, 254) 1%, rgb(105, 23, 140) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(223, 105, 254) 1%, rgb(105, 23, 140) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5366f3', endColorstr='#0a1aa1',GradientType=0 ); /* IE6-9 */
}


.yellow {
	height: 100%;
	background: rgb(250, 235, 64); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(250, 235, 64) 1%, rgb(205, 172, 31) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgb(250, 235, 64)), color-stop(100%, rgb(205, 172, 31))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(250, 235, 64) 1%, rgb(205, 172, 31) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(250, 235, 64) 1%, rgb(205, 172, 31) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(250, 235, 64) 1%, rgb(205, 172, 31) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(250, 235, 64) 1%, rgb(205, 172, 31) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5366f3', endColorstr='#0a1aa1',GradientType=0 ); /* IE6-9 */
}


.red {
	height: 100%;
	background: rgb(246, 91, 98); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(246, 91, 98) 1%, rgb(158, 7, 52) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgb(246, 91, 98)), color-stop(100%, rgb(158, 7, 52))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(246, 91, 98) 1%, rgb(158, 7, 52) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(246, 91, 98) 1%, rgb(158, 7, 52) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(246, 91, 98) 1%, rgb(158, 7, 52) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(246, 91, 98) 1%, rgb(158, 7, 52) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5366f3', endColorstr='#0a1aa1',GradientType=0 ); /* IE6-9 */
}


.turkey {
	height: 100%;
	background: rgb(144, 216, 255); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(144, 216, 255) 1%, rgb(33, 153, 222) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgb(144, 216, 255)), color-stop(100%, rgb(33, 153, 222))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(144, 216, 255) 1%, rgb(33, 153, 222) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(144, 216, 255) 1%, rgb(33, 153, 222) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(144, 216, 255) 1%, rgb(33, 153, 222) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(144, 216, 255) 1%, rgb(33, 153, 222) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5366f3', endColorstr='#0a1aa1',GradientType=0 ); /* IE6-9 */
}

.pink {
	height: 100%;
	background: rgb(255, 121, 198); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(255, 121, 198) 1%, rgb(235, 41, 188) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgb(255, 121, 198)), color-stop(100%, rgba(235, 41, 188, 0.93))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(255, 121, 198) 1%, rgb(235, 41, 188) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(255, 121, 198) 1%, rgb(235, 41, 188) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(255, 121, 198) 1%, rgb(235, 41, 188) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(255, 121, 198) 1%, rgb(235, 41, 188) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5366f3', endColorstr='#0a1aa1',GradientType=0 ); /* IE6-9 */
}


/* ---------------- fix ------------------------*/

#qrcode {
	position: fixed;
	bottom: 0;
	/*position: absolute;*/
	/*top: 0;*/
	/*z-index: 1000;*/
}


#qrcode img {
	background: white;
	border: 4px solid white;
}


#StatusManager {
	/*position: absolute;*/
}


.qr_link a {
	color: black;
	font-weight: bold;
}


.wrapper {

	position: relative;
	height: 100%;
	width: 100%;
}

.bg-black {
	background: #000;
}
