body {

	font-size: 2em;
}

canvas {

	display: block;
	margin: 0 auto;
	background-color: #333;
}


.hide {	display: none; }
.show { display: block; }


.box {

	position: absolute;
	width: 50%;

	top: 25%;
	left: 25%;

	z-index: 1;
}

.content {

	position: relative;

	width: 80%;
	margin: 0 auto;
}


.button {
	padding: 5px;
	text-align: center;

	background: #b443c6; /* Old browsers */
	background: -moz-linear-gradient(top,  #b443c6 0%, #6e106f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b443c6), color-stop(100%,#6e106f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b443c6 0%,#6e106f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b443c6 0%,#6e106f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b443c6 0%,#6e106f 100%); /* IE10+ */
	background: linear-gradient(top bottom,  #b443c6 0%,#6e106f 100%); /* W3C */

	 -webkit-border-radius: 6px;
		-moz-border-radius: 6px;
			 border-radius: 6px;

	min-width: 80px;

    color: white;
    font-weight: bold;
}

.big {

	width: 25%;
	margin: 0 auto;

	text-align: center;
}



.teamname {

	min-width: 200px;

	margin-left: -50px;
	padding: 10px;

	border: 2px solid black;
	border-radius: 10px;

	background-color: #fff;
}


.info {

	margin: 5%;
}

.input {

	display: block;

	margin: 0 auto;
	border: 0;
	border-bottom: 1px dashed #000;
}


.small {

	width: 20%;
	margin: 10% auto;
}


.left { float: left; }
.right { float: right; }

.warning {

	font-weight: bold;
	text-align: center;
}



.figure {

	position: absolute;

	left: 30%;
	top: 20%;

	-webkit-transition: background-color 5s ease-in-out;
	   -moz-transition: background-color 5s ease-in-out;
	    -ms-transition: background-color 5s ease-in-out;
	     -o-transition: background-color 5s ease-in-out;
		    transition: background-color 5s ease-in-out;
}


.red { background-color: rgb( 148, 24, 55 ); }
.blue { background-color: rgb( 37, 54, 137 ); }
.green { background-color: rgb( 102, 179, 45 ); }
.yellow { background-color: rgb( 210, 179, 31 ); }
.lila { background-color: rgb( 105,	41, 134 ); }
.orange { background-color: rgb( 236, 129, 10 ); }
.turq { background-color: rgb( 46, 155, 215 ); }
.pink { background-color: rgb( 190,	74, 150 ); }

.fade { background-color: #333; }

.pound {

	-webkit-transform-origin: center;
	   -moz-transform-origin: center;
	    -ms-transform-origin: center;
	     -o-transform-origin: center;
	     	transform-origin: center;

    -webkit-animation: pound 1.8s infinite none;
	   -moz-animation: pound 1.8s infinite none;
   		-ms-animation: pound 1.8s infinite none;
    		animation: pound 1.8s infinite none;
}

@-webkit-keyframes pound { 50%{	-webkit-transform:scale(1.2); 	transform: scale(1.2); } }
@-moz-keyframes pound { 50% { 	-moz-transform:scale(1.2); 		transform: scale(1.2); } }
@-ms-keyframes pound { 50%{ 	-ms-transform:scale(1.2); 		transform: scale(1.2); } }
@keyframes pound { 50% {  										transform: scale(1.2); } }



@media only screen and (max-width: 1050px) {

	body { font-size: 1.5em; }

    .small { font-size: 1em; }
}


@media only screen and (max-width: 780px) {

	body { font-size: 1em; }
}


@media only screen and (max-width: 480px) {

	body { font-size: 0.7em; }
}

