canvas {

	display: block;
	margin: 0 auto;
	/*background: #000;*/
    background-image: url(background.png);
    background-size: 100% 100%;


	 -webkit-transform: translate3d(0,0,0);
 	 	-moz-transform: translate3d(0,0,0);
		 -ms-transform: translate3d(0,0,0);
		  -o-transform: translate3d(0,0,0);
			 transform: translate3d(0,0,0);

	 -webkit-transform-style: preserve-3d;
	    -moz-transform-style: preserve-3d;
	     -ms-transform-style: preserve-3d;
	      -o-transform-style: preserve-3d;
	 		 transform-style: preserve-3d;
}


.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
    -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
    box-shadow:inset 0px 1px 0px 0px #a4e271;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
    background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
    background-color:#89c403;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
    border:1px solid #74b807;
    position: absolute;
    width: 50%;
    height: 50%;
    min-width: 200px;
    min-height: 100px;
    top: 25%;
    left: 25%;
}


.button:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
     background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
     background-color:#77a809;
 }

 .label{
     -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
     -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
     box-shadow:inset 0px 1px 0px 0px #f29c93;
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
     background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
     background-color:#fe1a00;
     -moz-border-radius:12px;
     -webkit-border-radius:12px;
     border-radius:12px;
     border:1px solid #4B4D48;
     position: absolute;
     width: 50%;
     height: 50%;
     min-width: 200px;
     min-height: 100px;
     top: 25%;
     left: 25%;
 }

 #text{
     color:#ffffff;
     font-family:arial;
     font-size:4.5vw;
     font-weight:bold;
     text-decoration:none;
     text-shadow:1px 1px 0px #515251;
     text-align: center;
     vertical-align: middle;
     position: absolute;
     width: 100%;
     vertical-align: center;
     top: 40%;
 }

 .hide {

    display: none;
 }

 .show {

    display: block;
 }


