canvas {

	display: block;
	margin: 0 auto;
	background: #fff;

	 -webkit-transform: translate3d(0,0,0);
 	 	-moz-transform: translate3d(0,0,0);
		 -ms-transform: translate3d(0,0,0);
		  -o-transform: translate3d(0,0,0);
			 transform: translate3d(0,0,0);

	 -webkit-transform-style: preserve-3d;
	    -moz-transform-style: preserve-3d;
	     -ms-transform-style: preserve-3d;
	      -o-transform-style: preserve-3d;
	 		 transform-style: preserve-3d;
}


.button {

	background-color: blue;
	color: #fff;
	width: 300px;
	height: 120px;

	position: absolute;
	top: 50px; left: 0;

	padding-top: 80px;
	font-size: 32px;
	text-align: center;
	cursor: pointer;
}
